# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# =========================
# ENV / SECRETS
# =========================
.env
*.env
*.json
NYSee/backend/google-cloud-credentials/*json


# =========================
# MAC OS
# =========================
.DS_Store

# =========================
# EDITOR / IDE
# =========================
.vscode/
.idea/

# =========================
# LOGS
# =========================
*.log

# =========================
# PROJECT-SPECIFIC (NYSee)
# =========================
NYSee/backend/venv/