# Optional Socrata app token for NYC Open Data.
API_APP_TOKEN=your_api_key
FRONTEND_ORIGIN=http://127.0.0.1:5500

# Override only if needed.
APS_DATASET_URL=https://data.cityofnewyork.us/api/v3/views/de3m-c5p4/query.json
APS_MAX_ROWS=5000
APS_NEARBY_THRESHOLD_METERS=100

# Required for Google Cloud Vision.
# Point this to your downloaded service account JSON file.
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/service-account.json
